{% extends "base.html.twig" %}

{% block title %} Révisions- Accueil{% endblock %}
{% block body %}
        
        <div class="container">
          <div class="row p-3">

            <div class="col-6">
              <img src=" {{ asset('img/1.jpg') }} " alt="IMAGE 1" class="img-fluid">
            </div>

            <div class="col-6">
              <img src=" {{ asset('img/2.jpg') }} " alt="IMAGE 2" class="img-fluid">
            </div>

          </div>

          <div class="row p-3">
            <div  class="col-6">
              <img src=" {{ asset('img/3.jpg') }} " alt="IMAGE 3" class="img-fluid">
            </div>

            <div  class="col-6">
              <img src=" {{ asset('img/4.jpg') }} " alt="IMAGE 4" class="img-fluid">
            </div>

          </div>

          <div class="row p-3">
            <div  class="col-6">
              <img src=" {{ asset('img/5.jpg') }} " alt="IMAGE 5" class="img-fluid">
            </div>
            
            <div  class="col-6">
              <img src=" {{ asset('img/6.jpg') }} " alt="IMAGE 6" class="img-fluid">
            </div>

          </div>
        </div>
        

{% endblock %}